<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/productType/layout::head">
<title> ProductType</title>
</head>
<body>
<h1> Create ProductType</h1>
<p>
    <a href="/productTypes"> Department list</a>
</p>
<div id="form">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
   <form th:action="@{/create-productType}" th:object="${productType}" method="post">
       <table id="customers">
           <tr>
               <td>Name</td>
               <td><input type="text"th:field="*{name}"/></td>
           </tr>

           </tr>
           <tr>
               <td></td>
               <td><input type="submit" value="Create ProductType"></td>
           </tr>
       </table>
   </form>
</div>
<footer th:replace="/productType/layout ::footer"></footer>
</body>
</html>