<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout ::head">

    <title>Delete Product</title>
</head>
<body>
<h1>Delete product</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/products">Go product list</a>
</p>
<div id="form">
    <form th:action="@{/delete-product}" th:object="${product}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table id="customers">
            <tr>
                <td>Tên Hàng</td>
                <td th:text="${product.name}"></td>
            </tr>
            <tr>
                <td>Ngày Tạo:</td>
                <td th:text ="${product.dateCreate}" ></td>
            </tr>
            <tr>
                <td>Số Lượng</td>
                <td  th:text ="${product.amount}"> </td>
            </tr>
            <tr>
                <td>Giá</td>

                <td th:text ="${product.price}">
                </td>
            </tr>
            <tr>
                <td>Mô Tả</td>
                <td th:text ="${product.description}"></td>
            </tr>
            <tr>
            <tr>
                <td>Loại Hàng</td>
                <td th:text="${product.productType.name}"></td>
            </tr>
            <td></td>
            <td><input type="submit" value="Xóa hàng hóa"></td>
            </tr>

        </table>

    </form>
</div>
<footer th:replace="/product/layout::footer"></footer>
</body>
</html>